extends ../layout

block content
  h1= page_title
  if(message)
    p
      if(title)
        a(href=`/books/${id}`)
          | #{title}
      |  #{message}
  p
    a(href="/books/new")
      button(type="button") Add Book
    
  table
    thead 
      tr 
        th Title 
        th Author 
        th Genre
        th Year 
    tbody 
      each book in books
        tr 
          book 
            td 
              a(href='books/' + book.id)= book.title
            td= book.author
            td= book.genre
            td= book.year