extends ../layout

block content
  h1= page_title
  include search-form
  if(message)
    p
      if(title)
        a(href=`/books/${id}`)
          | #{title}
      |  #{message}
  p
    a(href="/books/new")
      button(type="button") Add Book
    
  table
    thead 
      tr 
        th Title 
        th Author 
        th Genre
        th Year 
    tbody 
      each book in books
        tr 
          book 
            td 
              a(href='/books/' + book.id)= book.title
            td= book.author
            td= book.genre
            td= book.year
  - var i = 0;
  ul.pagination
    while i < pages 
      li
        if page === ++i
          a.pagination.active(href=`/books/page/${i}`) #{i}
        else
          a.pagination(href=`/books/page/${i}`) #{i}
        |  #[span &nbsp;]